*.pyc
*.swp
.idea*
*.DS_Store
*.o
executables/*/trnascan-1.4
executables/*/lastal+
executables/*/lastdb+
executables/*/bwa
executables/*/prodigal
executables/*/rpkm
executables/source/LAST-Plus/last-merge-batches+
executables/source/LAST-Plus/last-split+
executables/source/bwa-0.7.7/libbwa.a
executables/source/prodigal.v2_00/prodigal
executables/source/MicrobeCensus
executables/source/LAST-Plus
executables/ubuntu/*
executables/macosx/*
regtests/output/A1
regtests/output/A2
regtests/output/B2
regtests/output/B3
regtests/output/G1
regtests/output/G2
regtests/output/L1
regtests/output/L2
regtests/output/N1
regtests/output/N2
regtests/output/N3
regtests/output/N4
regtests/output/T1
regtests/output/U1
regtests/output/beaver
regtests/input/beaver.fasta
regtests/input/reads/beaver*
Metapathways_DBs_2016-04.tar.xz
MetaPathways_DBs
regtests/output/B1*

