*.pyc
*.swp
.idea*
*.DS_Store
*.o
lastdb+
lastal+
executables/linux/*
regtests/output/A1
regtests/output/A2
regtests/output/B2
regtests/output/B3
regtests/output/G1
regtests/output/G2
regtests/output/L1
regtests/output/L2
regtests/output/N1
regtests/output/N2
regtests/output/N3
regtests/output/N4
regtests/output/T1
regtests/output/U1
regtests/output/beaver
regtests/input/beaver.fasta
regtests/input/reads/beaver*
Metapathways_DBs_2016-04.tar.xz
MetaPathways_DBs
executables/source/MicrobeCensus
executables/source/prodigal
executables/source/LAST-Plus
